* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    margin: 32px;
    width: 100%;
}

.header {
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 70px;
    
}

#home, #projects, #about, #linkedin, #get-in-touch {
    color: #444444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.header #about:hover {
    color: #C4B5FD;
}

.header #home:hover {
    color: #C4B5FD;
}

.header #projects:hover {
    color: #C4B5FD;
}

.header #get-in-touch:hover {
    color: #C4B5FD;
}

.header #linkedin:hover {
    color: #C4B5FD;
}

.header a.active {

  font-weight: 600;
  border-bottom: 2px solid #7C3AED;
}

.layout {
    
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100dvh - 70px);
}


.personal-information {
    display: grid;
    grid-template-rows: 1fr 0.3fr 1.5fr 0.5fr 0.3fr 0.5fr 1fr;
        grid-template-areas:
        "."
        "presentation"
        "title"
        "description"
        "skill"
        "."
        ".";

    height: 100%;
    margin-left: 50px;
}

#presentation { 
    grid-area: presentation;
    font-size: 18px;
}

#title { 
    grid-area: title; 
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#highlight { 
    color: #7C3AED;
}

#description { 
    margin-top: 20px;
    grid-area: description; 
    font-size: 18px;
    color: #444444;

}

.skill-box {
    grid-area: skill;
    display: flex;
    gap: 16px; 
    margin-top: 10px;
    font-size: 15px;
    
}

#skills {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 32px;
}

#skills:hover {
    transform: translateY(-2px);
}

.contacts #contact:hover {
    color: #C4B5FD;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(181, 127, 228, 0.35);
    color: aliceblue;
}

.contacts #linkedin:hover {
    color: #C4B5FD;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(181, 127, 228, 0.35);
    color: aliceblue;
}

.contacts #github:hover {
    color: #C4B5FD;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(181, 127, 228, 0.35);
    color: aliceblue;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 1rem;
    padding: 30px;
    border: 2px solid #e8d5ff;
    transition: border-color 0.3s;
}

.photo img:hover {
    color: #C4B5FD;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(181, 127, 228, 0.35);
}

body.aboutmepage {
    display: grid;
    grid-template-rows: auto auto 600px auto;

    grid-template-areas:
        "title"
        "description"
        "stack"
        "stack";
    height: 100vh;
    margin: 32px;
    gap: 32px;

} 

#aboutme {
    grid-area: title;
    display: flex;
}

#abouttitle {
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    font-size: 72px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#abouttxt {
    grid-area: description;
    margin-right: 90px;
}

.techtools {
    display: flex;
    gap: 16px; 
    margin-top: 50px;
}

#tech-title {
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    text-shadow: 2px 2px 4px rgba(181, 127, 228, 0.1);
}

#tech-section {
    display: flex;
    align-items: center;
    grid-area: stack;
}

#photo-code {
    height: 500px;
    width: 800px;
    border-radius: 70px;
    object-fit: cover;
}